* {
	background-color: grey;
}

/* Diapo */

h1,h2 {
	color: red;
	text-align: center;
	border : 2px red solid;
	background-color: white;
}
img {
	width: 600px;
	height: 300px;
}
#diapo, #bDiapo {
	margin-left: auto;
	margin-right: auto;
}
#diapo {
	width: 600px;
}
#bDiapo {
	width: 100px;
}
#flecheD, #flecheG, #bPause {
	border: 1px solid white;
	padding: 5px 5px 5px 5px;
	background-color: red;
	color: white;
} 

/* Carte */

#mapid {
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
